.main-container {
  border-left: solid 1px rgba(0, 0, 0, 0.06);
  border-right: solid 1px rgba(0, 0, 0, 0.06);
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}
