/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

html,
body {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $green;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background-color: $green;
}
